version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "develop"

  - package-ecosystem: "github-actions"
    directory: "/.github/workflows"
    schedule:
      interval: "weekly"
    target-branch: "develop"

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    target-branch: "develop"
    groups:
      # Group all dependencies by with minor or patch version updates into one
      # PR with production and development dependencies grouped into separate
      # PRs.
      # All security updates and major updates are on separate PRs
      production-dependencies:
          dependency-type: "production"
          applies-to: "version-updates"
          patterns:
              - "*"
          update-types:
              - "minor"
              - "patch"
      development-dependencies:
          dependency-type: "development"
          applies-to: "version-updates"
          patterns:
              - "*"
          update-types:
              - "minor"
              - "patch"
