# Example of a server configuration

[public_server]
bind = ":8080"
log_requests = true

[private_server]
bind = ":8081"
log_requests = false

[database]
user = "user"
password = "password"
database = "sasso"
host = "localhost"
port = 5432

[secrets]
# The server needs a secret key for signing tokens
# One can provide the key in the following variable,
# or provide a path to a file containing the key.
# If the file does not exist, it will be created.

# The key must be in base64 format.
#key = "c2VjcmV0"
path = "./secrets.key"

# In order for the gateway and vpn service to retrieve information, they
# need to share a secret with the server.
internal_secret = "supersegreto"

[proxmox]
# Proxmox URL
url = "https://localhost:8006"
insecure_skip_verify = true

token_id = "root@pam!provolone"
secret = "2630dda0-b730-4dc7-be14-0b3582c97224"

[proxmox.template]
node = "pve3"
vmid = 900900000

[proxmox.clone]
# The node where the clone will be created
target_node = "pve4"
# This string is used to generate the new VM ID for the clone.
# It is a template string where {{vmid}} will be replaced with the VM ID
# used inside sasso.
id_template = "60{{vmid}}"

# How many digits of the VM ID to use for the user and the internal VM ID.
vmid_user_digits = 4
vmid_vm_digits = 2

# Do a full clone or a linked clone
full = true

# VM names on proxmox are the taken from the user. If false vms will be named
# sasso-<id>
user_vm_names = true

# Enable firewall on new interfaces
enable_firewall = true

# Set MTU on interfaces. If same_as_bridge is true, the MTU option will be
# ignored and the MTU of the bridge will be used (setting everything as 1).
# This option is useful when using proxmox < 9. If you are using proxmox 9 or
# higher, you can set set_mtu to false to disable MTU setting on interfaces.
[proxmox.clone.mtu]
set = true # If false, do not set MTU on interfaces
same_as_bridge = true # If true, use the MTU of the bridge (using 1 as MTU)
mtu = 1450 # Ignored if same_as_bridge is true

[proxmox.network]
sdn_zone = "sasso"
vxlan_id_start = 1000
vxlan_id_end = 2000

[proxmox.backup]
storage = "local"

[notifications]
enabled = true
rate_limits = true # Enable rate limiting on notifications
max_per_day = 1000 # To avoid hitting email provider limits
max_per_minute = 20 # To avoid single bursts

[notifications.email]
enabled = true
username = "sasso@gmail.com"
password = "app-password"
smtp_server = "smtp.gmail.com"

[port_forwards]
# Public IP address where the port forwards will be created
# This is only used to show the user which IP to connect to on the frontend.
public_ip = "1.2.3.4"
# Minimum and maximum port numbers for port forwards. This range will be used
# to pick a random outside port when creating a new port forward.
min_port = 20000
max_port = 40000

[vpn]
# Maximum number of VPN profiles per user
max_profiles_per_user = 2
